body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.grid-container {
    display: flex;
    flex-shrink: 0;
    gap: 5px;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    max-width: 1000px;
    max-height: 1000px;
}

.square {
    border: 1px solid white;
    margin-bottom: 5px;
    min-height: 10px;
    min-width: 10px;
}

.square:hover {
    background-color: grey;
}