body {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.grid-container {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid white;
}

.square {
    border: 1px solid rgb(66, 66, 66);
}

.hov-square{
    background-color: grey;
}