body {
    display: flex;
    justify-content: center;
    height: 1400px;
    align-items: center;
    background-color: black;
}

.grid-container {
    display: flex;
    flex-shrink: 0;
    gap: 5px;
    flex-wrap: wrap;
    width: 730px;
}

.square {
    border: 3px solid white;
    width: 34px;
    height: 34px;
}